@import { 
	url('https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	margin: 0 auto;
	width: 1400px;
	position: relative;
	font-family: 'Open Sans', sans-serif;;
	font-size: 14px;
	color: rgba(255, 255, 255);
}
.left {
	margin-left: 150px;
	float: left;
}
.right {
	margin-right: 148px;
	float: right;
}

nav {
	height: 70px;
	width: 100%;
	background-color: #000000;
	position: absolute;
}

.logo {
	margin-top: 23px;
}
.logo img {
	width: 78px;
}
nav ul {
	list-style: none;
	margin-top:20px;
}
nav li {
	display: inline-block;
	margin-left: 20px;
	color: rgba(255, 255, 255, 0.69);
}

header {
	padding-top: 120px;
	height: 642px;
	background-image: url("../images/header_bg.gif");
}
.info {
	width: 520px;
}
.info img {
	width: 175px;
}
h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 34px;
	margin-top: 20px;
}
.info p {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	color: rgba(255, 255, 255, 0.8);
	margin-top: 20px;
}
.info hr {
	width: 64px;
	size: 2px;
	margin-top: 20px;
	border: solid 1px rgb(255, 255, 255);
}
.info button {
	font-size: 15px;
	width: 135px;
	height: 42px;
	margin-top: 20px;
	background: 0;
	color: rgb(255, 255, 255);
	border: solid 2px rgba(255, 255, 255, 0.61);
}